name: Deploy to Shopify

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Theme to Shopify
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Shopify
        uses: shopify/theme-action@v1
        with:
          store: ${{ secrets.SHOP_STORE_OS2 }}
          password: ${{ secrets.SHOP_PASSWORD_OS2 }}
          theme: live
          allow-live: true

